<div *ngIf="this.display">

    <hr>

    <!--{{container.id}} - -->
    {{container.image}} -
    {{container.uptime}} -
    {{container.online}}

    <button (click)="operations('start')" type="button" class="btn btn-success">start</button>
    <button (click)="operations('stop')" type="button" class="btn btn-primary">stop</button>
    <button (click)="operations('restart')" type="button" class="btn btn-secondary">restart</button>
    <button (click)="operations('kill')" type="button" class="btn btn-danger">kill</button>

</div>